<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <link href="/electron/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/electron/styles/notifications.css" rel="stylesheet">
    <script src="/electron/webjars/jquery/jquery.min.js"></script>
    <script src="/electron/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/electron/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/electron/js/GlobalNotifications.js"></script>
</head>
<body>
	<h2>Welcome to Home Page...</h2>
	<br/><br/>
		<a href="resetpwd">Reset Password</a>
	<br/><br/>
	<a href="notifications">Show Messages</a>
	<a href="logout">Logout</a>
</body>
</html>